.photo-wrap-fs
  max-width 100%
  height auto
  border 2px solid #454650
  background-color #454650
  margin-bottom 150px
  position relative
  padding-bottom 40px

.photo-fs
  max-width 100%
  height auto
  object-fit cover

.cart-image-fs
  position absolute
  bottom 8px
  display flex
  justify-content space-between
  align-items center
  width 100%
  height 24px
  object-fit cover
  padding 0 5px
  color #fff
  font-size 16px

.photo-autor-fs
  object-fit contain
  margin-right 10px
  width 38px
  height auto

.photo-likes-fs
  object-fit contain
  margin-right 5px
  font-size 36px
  color #fff

.cart-image__autor-fs
  display flex
  align-items center
  margin-right 10px
  margin-left 10px

.cart-image__data-fs
  display flex
  align-items center
  margin-right 10px

.date-photo-fs
  margin-right 15px

.name-autor-fs
  text-decoration none
  color #fff
  &:hover
    color #51b5e5
    cursor pointer

.toggle-like-fs
  border 0
  background-color transparent
  color #fff
  font-family cursive, "sans-serif"
  font-size 16px
  &:hover
    color #51b5e5
    cursor pointer
  &:active, &:focus
    outline none

.come-back-fs
  border 0
  background-color transparent
  font-family cursive, "sans-serif"
  font-size 16px
  margin-bottom 5px
  &:hover
    color #51b5e5
    cursor pointer
  &:active, &:focus
    outline none