.auth-block
  display flex
  justify-content center
  margin-top 20px

.btn-auth
  width 320px
  height 50px
  background linear-gradient(to left, #f4cf00, #f5f900, #f4cf00)
  font-family Verdana, 'san-serif'
  font-size 20px
  font-weight 500
  border-radius 10px
  border 0
  background linear-gradient(to left, #f4cf00, #f5f900, #f4cf00)
  box-shadow 1px 1px 3px 1px #777777
  transition all .5s
  &:hover
    background linear-gradient(to left, #f5f900, #f4cf00, #f5f900)
    box-shadow 1px 1px 1px 1px #777777
    cursor pointer
  &:active, &:focus
    outline none