.home-block
  display flex
  justify-content space-between
  flex-wrap wrap

.photo-wrap
  max-width 32%
  height 340px
  border 2px solid #454650
  background-color #454650
  margin-bottom 30px
  position relative

.photo
  width 100%
  height 302px
  object-fit cover

.cart-image
  position absolute
  bottom 4px
  display flex
  justify-content space-between
  align-items center
  width 100%
  height 24px
  object-fit cover
  padding 0 5px
  color #fff

.photo-autor
  object-fit contain
  margin-right 5px
  width 28px

.photo-likes
  object-fit contain
  margin-right 5px
  width 26px

.cart-image__autor
  display flex
  align-items center
  margin-right 5px

.cart-image__data
  display flex
  align-items center

.date-photo
  margin-right 15px

.name-autor
  text-decoration none
  color #fff
  &:hover
    color #51b5e5